<section class="page" ng-init="init()">
    <div class="pageheader" ng-cloak>
        <h2>({{ curriculum.abbreviationTitle }}){{ 'Menu.ADD_ASSESSMENT' | translate }}</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li> <a><i class="fa fa-home"></i>{{ 'Menu.DASHBOARD' | translate }}</a> </li>
                <li> <a>{{ 'Menu.CURRICULUM' | translate }}</a> </li>
                <li> <a ui-sref="admin.curriculums.manage">{{ 'Menu.MANAGE_CURRICULUM' | translate }}</a> </li>
                <li> <a ui-sref="admin.curriculums.view({curriculumId:{{ curriculum.id }}})">{{ curriculum.abbreviationTitle }}</a></li>
                <li> <a ui-sref="admin.curriculums.editChapter({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">{{chapter.title[currentLang]}}</a></li>
                <li><a ui-sref="admin.curriculums.chapterAddAssessment({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">{{ 'Menu.ADD_ASSESSMENT' | translate }}</a></li>
            </ul>
        </div>
    </div>
    <div class="pagecontent" ng-cloak>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="{{alert.closeable ? 'closeable' : 'notcloseable'}}">
            <i class="fa {{alert.icon}}"></i> {{alert.msg}}
        </uib-alert>
        <div class="row">
            <div class="col-md-12">
                <section class="tile" fullscreen="isFullscreen06">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="">{{ 'Page.ASSESSMENT_DETAILS' | translate }}</h1>
                        <ul class="controls">
                            <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                                <a href="" uib-dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp" style="">
                                    <li>
                                        <a href="" tile-control-toggle="">
                                            <span class="minimize"><i class="fa fa-angle-down" name="angle-down"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.MINIMIZE' | translate }}</span>
                                            <span class="expand"><i class="fa fa-angle-up" name="angle-up"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.EXPAND' | translate }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" tile-control-fullscreen="" ng-click="isFullscreen06 = !isFullscreen06">
                                            <i class="fa fa-expand" name="expand"></i>&nbsp;{{ 'Page.FULLSCREEN' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" tile-control-lightbox="">
                                            <i class="fa fa-magnet" name="magnet"></i>&nbsp;{{ 'Page.OPEN_IN_LIGHTBOX' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tile-body">
                        <div class="row">
                            <form name="addAssessmentForm" id="add-assessment-form" ng-submit="onSubmit()" validate>
                                <div class="form-group col-xs-12">
                                    <label for="assessment-name" class="col-xs-2 col-form-label">{{ 'Page.NAME' | translate }}</label>
                                    <div class="col-xs-10">
                                        <language-support class="language-support" title="Name" var-class="form-control" var-model="assessment.name" var-name="name" var-type="text" var-id="assessment.name">
                                        </language-support>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <label for="assessment-description" class="col-xs-2 col-form-label">{{ 'Page.SHORT_DESCRIPTON' | translate }}.</label>
                                    <div class="col-xs-10">
                                        <language-support class="language-support" title="Description" var-class="form-control" var-model="assessment.description" var-name="description" var-type="text" var-id="assessment-description">
                                        </language-support>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <label for="assessment-estimatedTime" class="col-xs-2 col-form-label">{{ 'Page.TIME_NEEDED' | translate }}</label>
                                    <div class="col-xs-6 col-sm-4">
                                        <div class="input-group">
                                            <input type="number" class="form-control" ng-model="assessment.estimatedTime" id="assessment-estimatedTime" required>
                                            <div class="input-group-addon">{{ 'Page.MINUTES' | translate }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-6 text-right">
                                        <div class="form-inline">
                                            {{ 'Page.ENABLED' | translate }}
                                            <label class="checkbox checkbox-custom">
                                                <input type="checkbox" ng-model="assessment.isEnabled" name="isEnabled" id="assessment-isEnabled"><i></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12">
                                    <button class="md-raised md-primary md-button md-ink-ripple pull-right" ng-disabled="addAssessmentForm.$invalid">{{ 'Page.SAVE' | translate }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
