<section class="page hope-curriculums-edit-chapter" ng-init="init()" ng-cloak>
    <div class="pageheader">
        <h2>{{ curriculum.abbreviationTitle }}&nbsp;{{ 'Menu.MODULE' | translate }}&#58;&nbsp;{{ chapter.title[currentLang] }}</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li> <a><i class="fa fa-home"></i>&nbsp;{{ 'Menu.DASHBOARD' | translate }}</a> </li>
                <li> <a>{{ 'Menu.CURRICULUM' | translate }}</a> </li>
                <li> <a ui-sref="admin.curriculums.manage">{{ 'Menu.MANAGE_CURRICULUMS' | translate }}</a> </li>
                <li> <a ui-sref="admin.curriculums.view({curriculumId:{{ curriculum.id }}})">{{ curriculum.abbreviationTitle }}</a></li>
                <li> <a ui-sref="admin.curriculums.editChapter({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">{{chapter.title[currentLang]}}</a></li>
            </ul>
        </div>
    </div>
    <div class="pagecontent">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="{{alert.closeable ? 'closeable' : 'notcloseable'}}">
            <i class="fa {{alert.icon}}"></i> {{alert.msg}}
        </uib-alert>
        <div class="row">
            <div class="col-xs-4 widget-details">
                <section class="tile" fullscreen="isFullscreen06">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="">{{ 'Page.CHAPTER_DETAILS' | translate }}</h1>
                        <ul class="controls">
                            <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                                <a href="" uib-dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp" style="">
                                    <li>
                                        <a href="" tile-control-fullscreen="" ng-click="isFullscreen06 = !isFullscreen06">
                                            <i class="fa fa-expand" name="expand"></i>&nbsp;{{ 'Page.FULLSCREEN' | translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" tile-control-lightbox="">
                                            <i class="fa fa-magnet" name="magnet"></i>&nbsp;{{ 'Page.OPEN_IN_LIGHTBOX' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="edit"><a ui-sref="admin.curriculums.editChapterInformation({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })" tile-control-edit><i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </div>
                    <div class="tile-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <img ng-if="chapter.headerImageURI" class="chapter-img" ng-src="{{chapter.headerImageURI}}" alt="CHAPTER" height="200px" width="100%" />
                                <img ng-if="!chapter.headerImageURI" class="chapter-img" ng-src="images/defaults/cover_default.jpg" alt="CHAPTER" height="200px" width="100%" />
                            </div>
                            <div class="col-xs-12"><b>{{chapter.title[currentLang]}}</b></div>
                            <small class="description col-xs-12">{{chapter.description[currentLang]}}</small>
                            <div class="col-xs-12">&nbsp;</div>
                            <small class="col-xs-12">{{ 'Page.TIME_NEEDED' | translate }}:&nbsp;<span>{{chapter.estimatedTime}}</span></small>
                        </div>
                    </div>
                    <div class="tile-footer">&nbsp;</div>
                </section>
            </div>
            <div class="col-xs-4 widget-details">
                <section class="tile" fullscreen="isFullscreen06" ng-repeat="achievement in achievements.all() track by $index">
                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="">{{ achievement.name[currentLang] | capitalizeFristWord }}</h1>
                        <ul class="controls">
                            <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                                <a href="" uib-dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp" style="">
                                    <li>
                                        <a href="" tile-control-lightbox="">
                                            <i class="fa fa-magnet" name="magnet"></i>&nbsp;{{ 'Page.OPEN_IN_LIGHTBOX' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="edit"><a ui-sref="admin.curriculums.editAchievement({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }}, achievementId: {{ achievement.id }} })" tile-control-edit><i class="fa fa-pencil"></i></a></li>
                        </ul>
                    </div>
                    <div class="tile-body">
                        <img ng-if="achievement.contentUri" class="achievement-img" ng-src="{{achievement.contentUri}}" alt="ACHIEVEMENT" height="250px" width="100%"/>
                        <img ng-if="!achievement.contentUri" class="achievement-img" ng-src="images/defaults/trophy_default.png" alt="ACHIEVEMENT" height="250px" width="100%" />
                    </div>
                    <div class="tile-footer" style="min-height: 75px;">
                        <div class="col-md-3">
                            <span sparkline data="tePieChart.data" options="tePieChart.options"></span>
                        </div>
                        <div class="col-md-9">
                            <div>{{ achievement.name[currentLang] | capitalize }}&nbsp;EARNED</div>
                            <div>{{trophiesEarned | number : fractionSize}}&nbsp;({{trophiesEarnedPrecent}})%</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-xs-12 content-section">
                <h4 class="underline hope-section-header">
                    <div class="row">
                        <span class="col-xs-12 col-md-6 section-title assessment-title">{{ 'Page.ASSESSMENT' | translate }}</span>
                        <div class="col-md-6 text-right">
                            <a type="button" class="md-raised md-primary md-button md-ink-ripple pull-right" ui-sref="admin.curriculums.chapterAddAssessment({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">&#43;&nbsp;{{ 'Page.ADD_ASSESSMENT' | translate }}</a>
                            <button type="button" ng-click="onViewReport()" class="md-raised md-primary md-button md-ink-ripple pull-right">{{ 'Page.ASSESSMENT_REPORT' | translate }}</button>
                        </div>
                    </div> 
                </h4>
            </div>
            <div ng-repeat="assessment in assessments.all() track by $index">
                <div class="col-md-4 col-xs-12">
                    <section class="tile" fullscreen="isFullscreen06">
                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="">{{ 'Page.ASSESSMENT_METRICS' | translate }}</h1>
                            <ul class="controls">
                                <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp" style="">
                                        <li>
                                            <a href="" tile-control-toggle="">
                                                <span class="minimize"><i class="fa fa-angle-down" name="angle-down"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.MINIMIZE' | translate }}</span>
                                                <span class="expand"><i class="fa fa-angle-up" name="angle-up"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.EXPAND' | translate }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" tile-control-fullscreen="" ng-click="isFullscreen06 = !isFullscreen06">
                                                <i class="fa fa-expand" name="expand"></i>&nbsp;{{ 'Page.FULLSCREEN' | translate }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" tile-control-lightbox="">
                                                <i class="fa fa-magnet" name="magnet"></i>&nbsp;{{ 'Page.OPEN_IN_LIGHTBOX' | translate }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="edit"><a ui-sref="admin.curriculums.editAssessmentInformation({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }}, assessmentId:{{ assessment.id }} })" tile-control-edit><i class="fa fa-pencil"></i></a></li>
                            </ul>
                        </div>
                        <div class="tile-body">
                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">{{ 'Page.AVG_ENTRY_SCORE' | translate }}</div>
                                    <div class="description">&nbsp;</div>
                                </div>
                                <div class="status pull-right">
                                    <span>40</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="40" type="dutch"><b>40%</b></uib-progressbar>
                            </div>
                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">{{ 'Page.AVG_EXIT_SCORE' | translate }}</div>
                                    <div class="description">&nbsp;</div>
                                </div>
                                <div class="status pull-right">
                                    <span>38</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="38" type="greensea"><b>38%</b></uib-progressbar>
                            </div>
                        </div>
                        <div class="tile-footer">&nbsp;</div>
                    </section>
                </div>
                <div class="col-md-8 col-xs-12">
                    <section class="tile" fullscreen="isFullscreen06">
                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="">{{ 'Page.ASSESSMENT_FILES' | translate }}</h1>
                            <ul class="controls">
                                <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle settings" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp" style="">
                                        <li>
                                            <a href="" tile-control-toggle="">
                                                <span class="minimize"><i class="fa fa-angle-down" name="angle-down"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.MINIMIZE' | translate }}</span>
                                                <span class="expand"><i class="fa fa-angle-up" name="angle-up"></i>&nbsp;&nbsp;&nbsp;{{ 'Page.EXPAND' | translate }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" tile-control-lightbox="">
                                                <i class="fa fa-magnet" name="magnet"></i>&nbsp;{{ 'Page.OPEN_IN_LIGHTBOX' | translate }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="edit">
                                    <a ui-sref="admin.curriculums.assessmentFiles({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }}, assessmentId:{{ assessment.id }} })"><i class="fa fa-pencil"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tile-body">
                            <form class="form-horizontal" role="form">
                                <div class="row">
                                    <div class="text-center col-sm-12 col-md-6">
                                        <anguvideo class="quick-border" width="100%" height="200"></anguvideo>
                                        <div class="row">
                                            <div class="col-xs-12">&nbsp;</div>
                                            <div class="col-xs-12">
                                                <div class="col-xs-3 visible-xs">&nbsp;</div>
                                                <button class="md-raised md-primary md-button md-ink-ripple col-xs-6 col-sm-5">{{ 'Page.PREVIEW' | translate }}</button>
                                                <div class="col-xs-3 visible-xs">&nbsp;</div>
                                            </div>
                                            <div class="col-xs-12 visible-xs">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 file-manager-container ng-cloak">
                                        <angular-filemanager base-folder="'assessments/' + assessment.id + '/'" disabled="true"></angular-filemanager>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-xs-12 content-section">
                <h4 class="underline hope-section-header">
                    <div class="row">
                        <span class="col-md-4 section-title">{{ 'Page.LESSONS' | translate }}&nbsp;({{lessons.size()}})</span>
                        <div class="col-md-4 pull-right">
                            <a type="button" class="md-raised md-primary md-button md-ink-ripple pull-right" ui-sref="admin.curriculums.chapterAddLesson({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">&#43;&nbsp;{{ 'Page.ADD_LESSON' | translate }}</a>
                        </div>
                    </div> 
                </h4>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-3 lesson-section" ng-repeat="lesson in lessons.all() track by $index">
                        <section class="tile">
                            <div class="tile-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <img ng-if="lesson.iconUri" class="lesson-img" ng-src="{{lesson.iconUri}}" alt="LESSON" height="200px" width="100%" />
                                        <img ng-if="!lesson.iconUri" class="lesson-img" src="images/defaults/cover_default.jpg" alt="LESSON" height="200px" width="100%" />
                                    </div>
                                    <div class="col-xs-12"><b>{{lesson.title[currentLang] | capitalizeFristWord }}</b></div>
                                    <small class="description col-xs-12">{{lesson.description[currentLang] | capitalizeFristWord }}</small>
                                    <div class="col-xs-12">&nbsp;</div>
                                    <small class="col-xs-12">{{ 'Page.TIME_NEEDED' | translate }}:&nbsp;<span>{{lesson.estimatedTime}}</span></small>
                                    <small class="col-xs-12">{{ 'Page.INTRO_VIDEO' | translate }}:
                                        <span ng-if="lesson.introVideo != null && lesson.introVideo">yes</span>
                                        <span ng-if="lesson.introVideo == null || !lesson.introVideo">no</span>
                                    </small>
                                    <small class="col-xs-12">{{ 'Page.ACTIVITIES' | translate }}:&nbsp;<span>{{lesson.activityCount}}</span></small>
                                    <small class="col-xs-12">{{ 'Page.STATUS' | translate }}:&nbsp;<span>{{lesson.isPublished | active}}</span></small>
                                    <div class="col-xs-12">&nbsp;</div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-2">&nbsp;</div>
                                        <div class="col-xs-8">
                                            <a type="button" class="md-raised md-primary md-button md-ink-ripple" ui-sref="admin.curriculums.chapterEditLesson({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }}, lessonId:{{ lesson.id }} })">{{ 'Page.EDIT' | translate }}</a>
                                        </div>
                                        <div class="col-xs-2">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 content-section">
                <h4 class="underline hope-section-header">
                    <div class="row">
                        <span class="col-xs-4 section-title">{{ 'Page.VIDEOS' | translate }}&nbsp;({{videos.size()}})</span>
                        <div class="col-xs-8 pull-right text-right">
                            <a ui-sref="admin.videos.manage" class="md-raised md-primary md-button md-ink-ripple">{{ 'Page.MANAGE_COMMUNITY_VIDEO' | translate }}</a>
                            <a type="button" class="md-raised md-primary md-button md-ink-ripple" ui-sref="admin.curriculums.chapterAddVideo({curriculumId:{{ $stateParams.curriculumId }}, chapterId:{{ $stateParams.chapterId }} })">&#43;&nbsp;{{ 'Page.ADD_VIDEO' | translate }}</a>
                        </div>
                    </div> 
                </h4>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-3 video-section" ng-repeat="video in videos.all() track by $index">
                        <section class="tile">
                            <i class="icon-intro" ng-if="video.isIntro">{{ 'Page.INTRO' | translate }}</i>
                            <anguvideo ng-if="video.vimeoVideoUri" ng-model="video.vimeoVideoUri" width="100%" height="200"></anguvideo>
                            <anguvideo ng-if="!video.vimeoVideoUri" ng-model="testVideoURi" width="100%" height="200"></anguvideo>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div><b>{{video.title}}</b></div>
                                    <div><small>by:&nbsp;{{video.byName}}</small></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
