#header #hope-branding {
    a.brand {
        background: none;
        padding-left: 0;
    }
}

#sidebar-wrap {
    min-height: 750px;
}

section.page {
    .content-section {
        h4.underline {
            padding-bottom: 10px;
        }
    }
    .hope-section-header {
        .section-title {
            top: 15px;
        }
    }
}
