$body-background-color: #ecf0f1;
$content-color: #e7eaeb;


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

//file manager
$file-manager-container-height: 350px;

//buttons
$lan-inner-i-color: #e7eaeb;
